<%- include('partials/head', { titulo: titulo }) %>

<%- include('partials/navbar') %>

        <div class="page-header pb-5">
            <div class="container text-center py-5">
                <h1 class="display-4 text-uppercase mb-3 animated slideInDown">Our Models</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-primary active" aria-current="page">Our Models</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Team Start -->
    <div class="container-fluid py-5 bg-secondary">
        <div class="container py-5">
            <div class="text-center">
                <div class="title wow fadeInUp" data-wow-delay="0.1s">
                    <div class="title-center">
                        <h5>Models</h5>
                        <h1>Meet Our Models</h1>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <% modelos.forEach(function(modelo) { %>
                    <%- include('partials/tarjeta-modelo', { modelo: modelo }) %>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Team End -->

<%- include('partials/footer') %>
